<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Your Characters</h1>
    <ul>
    <% characters.forEach( el => {  %>
        <li class="characterName" data-id="<%=el._id%>" data-type="character">
            <a href="/inventory/<%= el._id%>"><%= el.characterName %></a>
            <span><%= el.strScore %></span>
            <span class='delChar'> Delete </span>
        </li>
    <%  })  %>
    </ul>

    <!--Add EDIT button for Characters, EJS modal pop-up for editing name + STR score-->

    <form action="/characters/createCharacter" method="POST">
        <input type="text" placeholder="Name" name="characterName">
        <input type="number" placeholder="Str Score" name="strScore">
        <input type="submit">
    </form>

    <a href="/homebrews">Homebrew Bank</a>

    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>