<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knapsack</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/landing.css">
</head>
<body>

    <div class="centerContent secondary">
        <div class="heading">
            <h1>KNAPSACK</h1>
            <p>little logo here</p>
        </div>
        <div class="auth">
            <h3>AUTH GOES HERE</h3>
        </div>
        <div class="accountOptions">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>
    </div>

    <button class="toggler">Dark Mode</button>
    

    <script src="../js/main.js"></script>

</body>
</html>