<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bindle</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/landing.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body id="index">

    <div class="centerContent secondary">
        <div class="heading">
            <h1>BINDLE</h1>
            <p>little logo here</p>
        </div>
        <div class="auth">
            <h3>AUTH GOES HERE</h3>
        </div>
        <div class="accountOptions">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        </div>
    </div>



    <label for="ChangeTheme">
        <input type="checkbox" id="ChangeTheme"/>
        <span class="material-symbols-outlined darkButton" id="darkButton">bedtime</span>
    </label>    

    <script src="../js/main.js"></script>
    <script src="../js/theme.js"></script>

</body>
</html>