body{
    padding-left: 20px;
    background-color: #b7e1e4;
    color:#535353;
}


.secondary{
    background-color: whitesmoke;
    border: 2px solid #8eaeb1;
}

/**dark mode deep blue with forest green?**/
/**bckgrnd #111827 , accents #1f2937 , buttons #22543d , txt white **/

body.dark-mode{
    background-color: #111827;
    color: white;
}

body.dark-mode > .secondary{
    background-color: #1f2937;
    border: 2px solid #22543d;
}


.del{
    text-decoration: underline;
}

.encumbered{
    color: red;
}


/**night mode checkbox and icon**/

#ChangeTheme{
    display: none;
}

.darkButton{
    position: absolute;
    right: 0;
    margin: 15px;
    padding: 5px;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold !important;
    border-radius: 50%;
    height: auto;
    width: auto; 
}


 
/**Modal Styling**/

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}