.displays{
    max-width: 800px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    min-height: 500px;
    border-radius: 10px;
    position: relative;
}

body{
    margin-bottom: 30px;
}

.logoTop{
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    width: 100px;
}


#darkButton{
    position: absolute;
    right: 0;
    top: 0;
}

.title{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

ul{
    margin-bottom: 110px;
    padding-bottom: 20px;
}

ul>li{
    list-style: none;
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px dotted gray;
}

ul>li>a{
    font-size: 20px;
    text-decoration: none;
}

ul>li>div>span{
    list-style: none;
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px dotted gray;
}

.cNameList{
    font-weight: bold;
    font-size: x-large;
}

.weightDisplay{
    text-align: center;
}

.itemName{
    display: flex;
    flex-wrap: wrap;
}

.itemName>*{
}

.cInfo{
    width: 85%;
}

.cInfo>*{
    border: none;
}

.options{
    display: flex;
    flex-direction: column;
}



.iName{
    font-weight: bold;
    font-size: larger;
    text-decoration: underline gray;
}

.iDescription{
    font-style: italic;
}

.noStyle{
    border: none;
    background: none;
}

.charSub{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.lowerInv{
    margin: 0px 20px;
}

.inventorySubs{
    margin-bottom: 100px;
}

.accountOptions{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.accountOptions>a{
    margin: 0px 10px;
}



@media (max-width:960px) {

.options.invOp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

}